In [1]:
import pandas as pd

In [3]:
from numpy import NAN,NaN,nan

In [9]:
check = log3 = pd.read_csv(r'C:\\Users\\310295192\\Desktop\\merge\\log3.csv',keep_default_na=False,na_values=[''])

In [10]:
check

         state   kot
0      lodzkie  Nam1
1  mazowieckie  Nam2
2      slaskie  Nam3
3    pomorskie   NaN

In [13]:
pd.isnull(check.kot)

0    False
1    False
2    False
3     True
Name: kot, dtype: bool

In [14]:
check.loc[pd.isnull(check.kot)]

       state  kot
3  pomorskie  NaN